<form *ngIf="showAddBeat" class="add-form" (ngSubmit)="onSubmit()">
  <h2>Add a new track</h2>
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="title" id="title" />
  </div>
  <div class="form-control">
    <label for="file">File link</label>
    <input type="text" name="file" [(ngModel)]="file" id="file" />
  </div>
  <div class="form-control">
    <label for="coverImage">Cover image path:</label>
    <input
      type="text"
      name="coverImage"
      [(ngModel)]="coverImage"
      id="coverImage"
    />
  </div>
  <div class="form-control">
    <label for="price">Price:</label>
    <input type="number" name="price" [(ngModel)]="price" id="price" />
  </div>
  <input type="submit" value="Add track" class="btn btn-block" />
</form>
