<form *ngIf="showAddBeat" class="add-form" (ngSubmit)="onSubmit()">
  <h2>Add a new track</h2>
  <div class="form-control">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="title" id="title" />
  </div>
  <div class="form-control">
    <label for="file">File link</label>
    <input type="text" name="file" [(ngModel)]="file" id="file" />
  </div>
  <div class="form-control">
    <label for="coverImage">Cover image path:</label>
    <input
      type="text"
      name="coverImage"
      [(ngModel)]="coverImage"
      id="coverImage"
    />
  </div>
  <div class="form-control">
    <label for="price">Price:</label>
    <input type="number" name="price" [(ngModel)]="price" id="price" />
  </div>
  <button
    type="submit"
    class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
  >
    Add track
  </button>
</form>
