<div
  class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white"
>
  <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none sm:h-96">
    <img
      [src]="beat.cover"
      alt="trackCover"
      class="h-fit w-full object-center sm:h-full sm:w-full"
    />
  </div>
  <div class="flex">
    <div class="flex flex-1 flex-col p-4">
      <h3 class="text-sm font-medium text-gray-900">
        {{ beat.title }}
      </h3>
      <p class="text-sm italic text-gray-500">prod by s.</p>
      <div class="flex flex-1 flex-col justify-end">
        <p class="text-sm text-gray-500">Listen to track: {{ beat.file }}</p>
        <p class="text-base font-medium text-gray-900">{{ beat.price }} €</p>
      </div>
    </div>
    <div>
      <button
        (click)="onDelete(beat)"
        class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400 my-10 mr-4"
      >
        delete
      </button>
    </div>
  </div>
</div>
