<main class="relative isolate">
  <!-- Background -->
  <div
    class="absolute inset-x-0 top-4 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
    aria-hidden="true"
  >
    <div
      class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25"
      style="
        clip-path: polygon(
          73.6% 51.7%,
          91.7% 11.8%,
          100% 46.4%,
          97.4% 82.2%,
          92.5% 84.9%,
          75.7% 64%,
          55.3% 47.5%,
          46.5% 49.4%,
          45% 62.9%,
          50.3% 87.2%,
          21.3% 64.1%,
          0.1% 100%,
          5.4% 51.1%,
          21.4% 63.9%,
          58.9% 0.2%,
          73.6% 51.7%
        );
      "
    ></div>
  </div>

  <!-- Header section -->
  <div class="px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl pt-24 text-center sm:pt-40">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">
        explore my beats
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">
        find the the heart of your next hit! dive into a world of unparalleled
        beats crafted with passion and precision by our local music maestro.
        every track is a testament to the artistry within you
      </p>
    </div>
  </div>

  <!-- Content section -->
  <div
    class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <h2 class="sr-only">Products</h2>

    <div
      class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8"
    >
      <app-beats-items
        *ngFor="let beat of beats"
        [beat]="beat"
        (onDeleteBeat)="deleteBeat(beat)"
      ></app-beats-items>
    </div>
  </div>
</main>
<app-add-button
  color="#3498db"
  color="{{ showAddBeat ? 'red' : 'green' }}"
  label="{{ showAddBeat ? 'close' : 'add track' }}"
  (btnClick)="toggleAddBeat()"
></app-add-button>
<app-add-beat
  (onAddBeat)="addBeat($event)"
  [beatslength]="beats.length"
></app-add-beat>
